.MainHeader{
    z-index: 4;
    background-color: #bedce3;
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Girassol', cursive;
}
