.MainNavigation{
	background-color: white;
	color: black;
	border-bottom: 1px solid #f3f3f6;
	/*z-index: 200;*/
}

.MainNavigation img { width: 50%; height: auto; }

.MainNavigation a{
	font-family: 'Poiret One', cursive;
	color: black;
	font-size: 1.2rem;
	margin-right: 1rem;
}

.MainNavigation .plusSize {
	font-size: 2rem !important;
}

.MainNavigation a:hover {
	color: #da7015;
}


.MainNavigation button{
    width: 3rem;
	height: 3rem;
	background: transparent;
	border: none;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-right: 2rem;
	cursor: pointer;
	outline: none;
}
.MainNavigation button span{
    display: block;
	width: 3rem;
	height: 2.5px;
    background: white;
    border-radius: 2px;
}
.Title{
	font-family: 'Indie Flower', cursive;
	color: black;
	font-size: 1.5rem;
	margin-right: 1rem;
}

.Title a:hover {
	color: black;
}

@media (min-width: 768px) {
	.MainNavigation button{
		display: none;
	}
}
