.Topbar{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(252, 19, 16);
    font-size: 25px;
    color: white;
    align-items: center;
    text-decoration: none;
    height: 60px;
}
.Link{
    color: black;
    margin: 20px;
    text-decoration: none;
}
.Link:hover{
    color: white;
}