.NavLinks {
	list-style: none;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-decoration: none;
	font-size: 18px;
}
.NavLinks li {
	margin: 1rem;
}
.NavLinks a {
	color: black;
	transition: color 0.3s;
	text-decoration: none;
	padding: 0.5rem;
	cursor: default;
}
.NavLinks a:hover {
	color: red;
}
.Link:hover {
	color: white;
}
@media (max-width: 767px) {
	.NavLinks {
		display: none;
	}
}

.ModalForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ModalEmailInput {
	font-size: 1rem;
	padding: 4px;
	outline: none;
}
.ModalPasswordInput {
	font-size: 1rem;
	padding: 4px;
	outline: none;
}
.ModalEnterButton{
    display: inline-block;
    margin: 20px auto 20px auto;
    width: 10rem;
    font-size: 1rem;
    padding: 0.7rem;
    background-color: var(--theme-color-blue);
    border: 1px solid var(--theme-color-blue);
}